.nav-img{
    width:35px;
    height:35px;
    border-radius: 80%;
}
h1{
    display: flex;
    width: 1288px;
    height: 166px;
    font-size:larger;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama-Bold';
    font-display: swap;
    font-style: normal;
    font-size: 96px;
    font-weight: 700;
    line-height: normal;
}

.first-container p{
    display:flex;
    width: 505px;
    height:178px;
}
#about p{
    display:flex;
    width:505px;
    height:526;
}
#icon-grid p{
    display:flex;
    align-content: flex-end;
    justify-content: flex-end;
    width: 505px;
    height: 176px;
    text-align: right;
}
#icon-grid h2{
    display:flex;
    text-align: right;
    align-content: flex-end;
    justify-content: flex-end;
}
h2{
    font-family: 'Melodrama-Bold';
    font-display: swap;
    font-style: normal;
    font-size: 96px;
    font-weight: 700;
    line-height: normal;
}
p {
    font-family: Supreme;
    font-size: 18px;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
}
.shape1 {
    display:flex;
    position:relative;
    top: 212px;
    width: 1097px;
    height: 391px;
    border-radius: 0px 150px 150px 0px;
    background: rgba(79, 119, 45, 0.95);
    
}
.shape3{
    display:flex;
    position: relative;
    left: 310px;
    top: -250px;
    width: 374px;
    height: 832px;
    opacity: 0.75;
    flex-shrink: 0;
    border-radius: 0px 150px;
    background: #90A955;
    box-sizing: 0 150px 0 150px;
}
.seperator{
    height:70px;
}